@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  src: local('Orienta'), local('Orienta-Regular'), url(http://fonts.gstatic.com/s/orienta/v4/3YPs8UmAqoL0nr_loqcO4g.woff2) format('woff2');
}

body {
  /*background: #fafafa;*/
  font-family: "Orienta", Helvetica, Arial, sans-serif;
  color: #DDD;
  background-color: #000;
}

input {
  color: #000;
}

footer {
  margin-top: 20px;
  padding: 15px 50px 15px 50px;
  text-decoration: none;
  background-color: #0a0a0a;
  color: #DDD;

}

.navbar {
  padding: 0 50px 0 50px;
  margin-bottom: 0;
  min-height: 30px;
  color: #DDD;
}

.navbar-inverse {
  background: #0a0a0a;
}

.navbar form {
  margin: 4px;
}

#navbar-logo {
  max-height: 40px;
  margin-top: 3px;
}


.btn-success {
  background-color: #5B5;
  color: #FFF;
  font-weight: 800;
  border: solid #3A3 1px;
}

.btn-success:hover,.btn-success:focus {
  color: #333;
  font-weight: 800;
  background-color: #4C4;
  border: groove #ACA 1px;
}

.btn-warning {
  font-weight: 800;
  background-color: #E80;
}

.btn-warning:hover,.btn-warning:focus {
  color: #333;
  font-weight: 1200;
  background-color: #F90;
  border: groove #EA0 1px;
}

.jumbotron {
  background-color: #000;
  background-image: url('../images/jumbo1.jpg');
  background-repeat: no-repeat;
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 0px;
  font-size: 1em;
  color: #DDD;
  margin-bottom: 0px;
}

.jumbotron img {
  max-height: 600px;
}

.jumbotron h2 {
  margin: 0;
  color: #EEE;
}

.jumbotron h2 {
  font-size: 1.8em;
}

.jumbotron p {
  margin-bottom: 5px;
  font-size: 1.4em;
}

.jumbotron label {
  margin-bottom: 0px;
  margin-top: 5px;
}

.jumbotron small {
  font-size: 0.9em;
  line-height: 30%;
}

#join-btn {
  
  margin-top: 20px;
}


#content {
  margin-top: 0px;
  font-weight: 400;
}

#content p {
  font-size: 1.2em;
  color: #FFF;


}

#middle-col {
  border-right: #555 groove;
  border-left: #555 groove;
  
}


@media all and (max-width : 991px) {
  .jumbotron {
    padding-top: 15px;
  }
  
  /*dark box on container*/
  .jumbotron .container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding-bottom: 5px;
  }
}
